<!-- Date: 8/22/2020
     Description: category commponent html
     Author: Nanyan Jiang
     editor: yiweiyao
 -->

 <div class="mt-2 mb-2 bg-light rounded shadow ">
    <div class="category_header bg-info">
        <h3>Categories</h3>
        <hr class="my-4">
    </div>
    <div class="category_body">
        <div class="row">
            <div class="col-3 mb-1 text-center" *ngFor="let catgy of categoryArray">
                <button type="button" class="btn-light btn">{{catgy[0]}}</button>
            </div>
        </div>
    </div>
</div>

