<!-- Date: 8/22/2020
     Description: Gallery commponent html
     Author: Nanyan Jiang
 -->
  <div class="title-mid">
    <p class="font-weight-bold">Explore Popular Items</p>
  </div>
  <div class="row">
    <!-- delete card-spacing class yiweiyao-->
    <div routerLink="/detail/{{item.id}}" class="col-3 col-sm-3 col-md-2 col-lg-2 rgba-blue-light" *ngFor="let item of itemArr" style="border:none;" role="button">
      <img class="img-fixed-size rounded img-clickable" src="{{item.photos[0].path}}">
      <div>
        <p class="font-weight-bold">{{item.title}}</p>
        <p>{{item.price | currency}}</p>
      </div>
    </div>
  </div>

