<!-- Date: 8/22/2020
     Description: Nav commponent html
     Author: Yiwei Yao
     Date: 8/23/2020
     Description: integrate search&location into nav && make nav bar sticky at top
     editor: Yiwei Yao
 -->

 <!-- below is nav bar code  -->
 <nav class="bg-white sticky-top shadow-sm">
   <div class="container">
     <div class="row justify-content-between" style ="height: 62.8px;">
         <div class="col-4 mt-3 mb-3" >
             <span role="button" routerLink="/home"><img src="../../../assets/UMBuys .png" alt="Logo"></span>
         </div>
         <!-- <div class="col-auto mt-2 mr-auto mx-auto">
            <form>
                <div class="input-group" style="width: 125%;">
                    <input type="text" class="form-control mr-2 rounded-pill text-center" placeholder="Search" aria-label="search">
                    <button type="submit" class="btn btn-primary rounded-pill text-center">                <svg class="bi" width="20" height="20" fill="currentColor">
                        <use xlink:href="assets/bootstrap-icons.svg#search"/>
                    </svg></button>
                </div>
            </form>
            <div class="d-block text-center">
                Change Address:
                <button type="button" class="btn btn-link text-success" data-toggle="modal" data-target="#changeLocation">Quincy, MA, 02171</button>
            </div>
        </div> -->

        <div class="col-4 mt-3 mb-3">
            <div id = "lgasi" class="float-right">
              <a id="lang" href="/">
                  <svg class="bi cl-primary-color nav-icon" width="20" height="20">
                      <use xlink:href="assets/bootstrap-icons.svg#globe"/>
                  </svg>
              </a>
              <a id="chat" href="/" class="ml-2"><svg class="bi cl-primary-color nav-icon" width="20" height="20">
              <use xlink:href="assets/bootstrap-icons.svg#chat-dots-fill"/>
              </svg></a>
              <button class="btn btn-sm btn-nav ml-2 primary-color upon-primary-color" type="button" data-toggle="modal" data-target="#login">Login</button>
              <button class="btn btn-sm btn-nav ml-2 primary-color upon-primary-color" type="button" data-toggle="modal" data-target="#join" >Join</button>
            </div>
            <div id="lgasi-burger" class="float-right">
              <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"> -->
                <button class=" navbar-toggler lgasi-burger-btn" data-toggle="collapse" data-target="#lgasiExternalContent"
                aria-controls="lgasiToggleExternalContent"
                aria-expanded="false"
                aria-label="lgasi External navigation"
                >
                    <div class="lgasi-burger-icon primary-color"></div>
                    <div class="lgasi-burger-icon primary-color"></div>
                    <div class="lgasi-burger-icon primary-color"></div>
                </button>
                
              <!-- </button> -->
            </div>
        </div>
     </div>
     <!-- <div class="fixed-top"> -->
      <div class="collapse" id="lgasiExternalContent">
          <a class="cl-primary-color" data-toggle="modal" data-target="#login"><strong style="display: block;text-align: right;">Login</strong></a>
          <a class="cl-primary-color" data-toggle="modal" data-target="#join"><strong style="display: block;text-align: right;">Register</strong></a>
          <a href="" class="cl-primary-color"><strong style="display: block;text-align: right;">Contact Us</strong></a>
          <a href="" class="cl-primary-color"><strong style="display: block;text-align: right;">Language</strong></a>
          <br>
        </div>
      <!-- </div> -->
    </div>
</nav>
<!-- end for nav bar-->


<!-- below is a pop up modal to change location-->
<!-- <div class="modal fade" id="changeLocation" tabindex="-1" aria-labelledby="changeLocation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="change_location_title">Change Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="row"><div class="form-group col-auto">
                  <label for="locationInputLabel">Cities, States, Zip code</label>
                  <input type="text" class="form-control" id="locationInput">
                </div>
                <div class="form-group col-auto">
                  <label for="RadiusInputLabel">Radius</label>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">200 Miles</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">5 Miles</a>
                      <a class="dropdown-item" href="#">10 Miles</a>
                      <a class="dropdown-item" href="#">20 Miles</a>
                      <a class="dropdown-item" href="#">40 Miles</a>
                      <a class="dropdown-item" href="#">60 Miles</a>
                      <a class="dropdown-item" href="#">80 Miles</a>
                      <a class="dropdown-item" href="#">100 Miles</a>
                      <a class="dropdown-item" href="#">250 Miles</a>
                      <a class="dropdown-item" href="#">500 Miles</a>
                    </div>
                  </div>
                </div>
              </div>
              <div style="border-style: solid;">Left for open street map</div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<!-- end for change location pop up modal -->

<!-- below is a pop up modal for login -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- end of the popup modal for login  -->

<!-- below is a pop up modal for join -->
<div class="modal fade" id="join" tabindex="-1" aria-labelledby="join" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Join UMBuys</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Enter Password Again</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Join</button>
      </div>
    </div>
  </div>
</div>
<!-- end of the popup modal for join  -->
