/* You can add global styles to this file, and also import other style files */
/* .robotMono {
    font-family: 'Roboto Mono', monospace;
}
body{
    font-family: 'Roboto Mono', monospace;
} */

/* Make Roboto mono font apply to all */
/* * {
    font-family: 'Roboto Mono', monospace;
} */

.img-fixed-size{
  height: 160px;
  width: 160px;
  display: block;
}
.img-clickable:hover{
  opacity: 0.8;
  background-color: aquamarine;
}

.hr.style-1 {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-img-size{
  max-height: 800px;
  max-width: 800px;
}

/* Add by Yiwei Yao improve bootstrap responsive for large screen 9/13/2020 */
/* start */
@media (min-width: 1420px) {
  .container {
    max-width: 1380px !important;
  }
}
@media (min-width: 1580px) {
  .container {
    max-width: 1560px !important;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1800px !important;
  }
}

@media (min-width: 250px) {
  .container {
    max-width: 95%;
  }
}
/* end */

/* color */
/* start */
body {
  background-color: #f1f2f6 !important;
}
.primary-color {
  background-color: #3742fa !important;
}

.cl-primary-color {
  color: #3742fa !important;
}

.primary-color-var{
  color:#5352ed;
}
.secondry-color {
  color: #f39c12;
}
.secondry-color-var {
  color: #f1c40f;
}
.bg-color {
  background-color: #ffffff;
}
.error-color {
  color: #d63031;
}
.upon-primary-color {
  color: #ffffff !important;
}
.upon-secondry-color {
  color: #ffffff;
}
.upon-bg-color {
  color: #000000;
}
.upon-surface-color {
  color: #000000;
}
.upon-error-color {
  color:#ffffff;
}
/* end */